<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Request</title>
</head>
<body>
    <h2>Password Reset Request</h2>
    
    {% if member %}
        <p>Hi {{ member.first_name }},</p>
    {% else %}
        <p>Hello,</p>
    {% endif %}
    
    <p>You have requested to reset your password for your TBP Portal account.</p>
    
    <p>Please click the link below to reset your password:</p>
    
    <p><a href="http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>
    
    <p>If you did not request this password reset, please ignore this email.</p>
    
    <p>This link will expire for security reasons.</p>
    
    <p>Best regards,<br>TBP Portal Team</p>
</body>
</html>